.title{
  margin: 0 auto !important;
  font-weight: bold;
  color:#7F0840;

}
/*span.title{
  font-size: 15px !important;
  margin-left: 15px !important;
}*/

ion-icon{
  margin-left: 5px !important;
}
h3.subtitle{
  text-align: center;
  font-weight: bold !important;
  font-size: 18px !important;
  color:blue;
}
p.back{
  margin-top: 20px !important;
  margin-left: 15px !important;
  font-size: 16px !important;
  font-weight: bold;
  color:#0A6082;
}

.logout{
  margin-left: 115px !important;
  font-size: 15px !important;
  color:#7F0840;
  font-weight: bold;
 }

 div.resumen{
  margin-top: 55px !important;
  padding: 8px !important;
  margin-right: 15px !important;

}

ion-icon.car{
  font-size: 22px !important;
  margin-right: 10px !important;
  padding-top: 1px !important;
  color:#fff;
 }
span.pay{
  text-align: justify !important;
  font-weight: bold;
}
.label{
  text-align: center !important;
  font-weight: bold;
}
.element{
  text-align: center !important;

}
.bottom{
  border-top: 0.7px solid #000;

}
ion-grid{
  border-top: 0.7px solid #000;

}
ion-card{
  margin-top: 60px !important;

}
span.trash{
  color:red;

}
ion-icon.car{
  font-size: 22px !important;
  margin-right: 15px !important;
  color:#fff;
 }
 ion-icon.resume{
  font-size: 22px !important;
  padding-top: 5px !important;
  color:blue;
  padding-right: 15px !important;
 }
 ion-icon.empty{
  color:red;
  padding-left: 50px !important;
 }
 ion-card.card-product{
  background-color: azure;
 }
