.title{
  margin: 0 auto !important;
  font-weight: bold;
  color:#7F0840;
  font-size: 16px !important;
}

img{
 width: 100% !important;
 height: 250px !important;
}

.price{
  font-size: 22px;
  font-weight: bold;
 }

ion-card{
  padding: 7px !important;
  margin-top:30px !important;
  margin-bottom: 30px !important;
 }

 ion-searchbar{
   margin-top: 15px !important;
 }

 span.currency{
  margin-right: 3px !important;
}

 .logout{
  margin-left: 180px !important;
  font-size: 15px !important;
 }
 ion-icon.ico{
  font-size: 22px !important;
  margin-left: 5px !important;
  margin-right: 20px !important;
  padding-top: 5px !important;
 }
 p.device{
  font-weight: bold;
  color: #372F33;
  margin-left: 5px !important;
  padding-left: 5px !important;
  margin-top: 5px !important;
  padding-top: 30px !important;
 }
 ion-card.card-product{
  background-color: azure;
 }
